.productionManageMentControlSectionText {
  background-color: #f7f7f7;
  padding: 140px 0px 120px 0px;
  .textArea {
    margin-top: 80px;
    .title {
      font-size: 3rem;
      font-family: futura;
      .lightGreen {
        color: #44b477;
      }
    }
    .content {
      margin: 50px 0;
      .description {
        margin: 0px auto;
        font-size: 2rem;
        font-family: futura;
        font-weight: bold;
        padding: 0;
        li {
          margin: 20px 0;
        }
      }
    }
  }
}
.productionManageMentControlSectionPhoto {
  padding: 120px 0;
  .content {
    .carousel {
      section {
        .photo {
          display: block;
          margin: 20px auto;
          text-align: center;
          background-color: white;
        }
      }
    }
  }
  .status-bar {
    margin-top: 10px;
    background-color: #707070;
    height: 40px;
    border-radius: 20px;
    position: relative;
    font-family: futura;
    font-size: 1.25rem;
    z-index: 2;
    color: white;
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      border-radius: 20px;
      background: #00d07f;
      transition: 2s all ease;
    }
  }
  .status-bar.steps1 {
    &::before {
      width: 20%;
      transition: 1.5s all ease;
    }
  }
  .status-bar.steps2 {
    &::before {
      width: 40%;
    }
  }
  .status-bar.steps3 {
    &::before {
      width: 60%;
    }
  }
  .status-bar.steps4 {
    &::before {
      width: 80%;
    }
  }
  .status-bar.steps5 {
    &::before {
      width: 100%;
      transition: 1s all ease;
    }
  }
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  //firefox input style
  input[type='range']::-moz-range-thumb {
    z-index: 1;
    height: 0px;
    width: 0px;
    opacity: 0;
    background: transparent;
    margin-top: 0px;
  }
  input[type='range']::-moz-range-track {
    z-index: 1;
    height: 40px;
    background: transparent;
    border: none;
  }
  //
  input[type='range']::-webkit-slider-thumb {
    z-index: 1;
    height: 0px;
    width: 0px;
    opacity: 0;
    background: transparent;
    margin-top: 0px;
  }
  input[type='range']::-webkit-slider-runnable-track {
    z-index: 1;
    height: 40px;
    background: transparent;
    border: none;
  }
}
@media (max-width: 1600px) {
  .productionManageMentControlSectionText {
    .textArea {
      .title {
        font-size: 2.5rem;
      }
      .content {
        margin: 30px auto;
        .description {
          font-size: 1.25rem;
        }
      }
    }
  }
  .productionManageMentControlSectionPhoto {
    .status-bar {
      height: 30px;
      &::before {
        height: 30px;
        width: 30px;
      }
    }
    input[type='range']::-moz-range-track {
      z-index: 1;
      height: 30px;
    }
    input[type='range']::-webkit-slider-runnable-track {
      height: 30px;
    }
  }
}
@media (max-width: 1024px) {
  .productionManageMentControlSectionText {
    padding: 120px 20px;
    .textArea {
      margin-top: 60px;
      .title {
        font-size: 2rem;
      }
      .content {
        .description {
          font-size: 1rem;
        }
      }
    }
  }
  .productionManageMentControlSectionPhoto {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .productionManageMentControlSectionText {
    .textArea {
      .title {
        font-size: 1.5rem;
      }
      .content {
        .description {
          font-size: 0.875rem;
        }
      }
    }
  }
  .productionManageMentControlSectionPhoto {
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }
}
@media (max-width: 575px) {
  .productionManageMentControlSectionText {
    .textArea {
      .title {
        justify-content: flex-start !important;
        font-size: 1.25rem;
      }
      .content {
        .description {
          padding-left: 10px;
        }
      }
    }
  }
  .productionManageMentControlSectionPhoto {
    .content {
      .carousel {
        section {
          .photo {
            .img-thumbnail {
              border-radius: 0px;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
